@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>We are happy to announce the opening of the new colman store!<br />
    This store was created in order to have a platform were students can easly buy the books they want to read.
    </p>
